c2/certs/


http-lib-test/.vs/
http-lib-test/*.suo
http-lib-test/*.user
http-lib-test/*.userosscache
http-lib-test/*.userprefs

http-lib-test/bin/
http-lib-test/obj/

http-lib-test/*.log
http-lib-test/*.tmp
http-lib-test/*.temp

http-lib-test/packages/
http-lib-test/*.nupkg
http-lib-test/CMakeCache.txt
http-lib-test/CMakeFiles/
http-lib-test/CMakeLists.txt.user
